<div class="row">
  <div class="col-2"></div>
  <div class="col-3">
    <div
      class="mx-auto w-50 text-center alert alert-dark shadow posts-label mb-0 pb-1 pt-1"
      role="alert"
    >
      Posts
    </div>
    <div *ngIf="noPosts" class="alert alert-danger text-center">
      Nenhum Post encontrado
    </div>
    <div *ngIf="!noPosts" class="list-group shadow">
      <a
        *ngFor="let post of posts"
        (click)="handleClick(post)"
        class="list-group-item list-group-item-action"
        [ngClass]="{ active: post.active, 'text-white': post.active }"
      >
        {{ post.name }}
      </a>
      <div class="col-8 mx-auto my-2 ml-1">
        <button class="btn btn-success" [routerLink]="['/posts']"
                routerLinkActive="router-link-active">
          <i class="fa fa-list mr-1"></i>
          Todos Posts
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="noPosts"
    class="col-5 card shadow bg-light post-preview scale-on-hover ml-5"
  >
    <div class="card-body" style="align-items: center;">
      <div class="scale-on-hover alert alert-danger">
        Post não encontrado
      </div>
    </div>
  </div>
  <div
    *ngIf="activePost"
    class="col-5 card shadow bg-light post-preview scale-on-hover ml-5"
  >
    <h2 class="card-title text-center mt-3">{{ activePost.title }}</h2>
    <div class="card-body">
      <div class="card-text">{{ activePost.description }}</div>
      <hr />
      <div class="mx-auto text-center">
        <a
          [routerLink]="'post-detail/' + activePost.id"
          routerLinkActive="router-link-active"
          class="btn btn-outline-success"
        >
          Ler Mais
          <i class="fa fa-book-open icon-right"></i>
        </a>
      </div>
    </div>
    <div class="card-footer bg-transparent">
      <p>
        <small class="text-muted">Autor:</small>
        {{ activePost.author }}
      </p>
    </div>
  </div>
</div>
