<div class="container">
  <div class="col-5 card shadow bg-light mx-auto">
    <div class="card-body ml-2 mr-2">
      <h2 class="card-title text-center">Login</h2>
      <hr>
      <form action="login.html" method="get" accept-charset="utf-8">
        <div class="form-group">
          <label for="usernameInput">
            <strong>Usuário:</strong>
          </label>
          <input type="text" name="username" id="usernameInput" class="form-control" placeholder="Usuário">
        </div>
        <div class="form-group">
          <label for="passwordInput">
            <strong>Senha:</strong>
          </label>
          <input type="password" name="password" id="passwordInput" class="form-control" placeholder="Senha">
        </div>
        <div class="form-group ml-4">
          <input type="checkbox" name="keepLogged" class="form-check-input" id="keepLoggedInput">
          <label class="form-check-label" for="keepLoggedInput">Mantenha-me Conectado</label>
        </div>
        <br>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-login">
            Entrar
            <i class="fa fa-check icon-right"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>